.categories_div {
  padding-inline: 5vw;
  padding-block: 2vh;
  /* border: 1px solid red; */
}
.categories_div h1 {
  /* font-size: 1.4rem; */
  text-align: left;
  /* margin-left: 3vw; */
  /* font-weight: 400; */
  text-transform: uppercase;
}


.category img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  /* border: 1px solid red; */
}
.category h4 {
  height: 20%;
  text-align: center;
  font-size: 1.25rem;
}

@media (max-width:800px){
   .categories_main {
    /* margin-block: 5vh; */
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.75rem;
    gap: 0.75rem;
  }

  .category_head {
    padding: 6px 14px;
  }
 .category_head h1 {
    font-size: 1.35rem;
    cursor: pointer;
    margin-block: 0px;
    font-weight: 400;

    text-align: left;
    /* border: 1px solid red; */
    width: 100%;
  }
   .category h4 {
    height: 20%;
    text-align: center;
    font-size: 0.85rem;
  }
  .categories_div h1 {
    margin-left: 0px;
  }
}


.embla {
  max-width: calc(100vw - var(--website-padding-desktop));
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0.8rem;
  --slide-size: 20%;
  position: relative;
  /* border: 1px solid red; */
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  /* gap: 2rem; */
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding: var(--slide-spacing);
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}

.embla__controls {
  position: absolute;
  top: -45px;
  right: 20px;
  /* transform: translateY(-50%); */
  width: fit-content;
  /* border: 1px solid red; */
}

.embla__buttons {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;

}

.embla__buttons button {
  height: fit-content;
  width: fit-content;
}

.embla__buttons button svg {
  height: 18px !important;
  width: 18px !important;
}

@media (max-width: 700px) {
  .embla {
    --slide-size: 50%;
  }
  .categories_div {
  padding-inline: 5vw;
  padding-block: 0vh;
}
}
