.container {
  width: 100%;
  height: fit-content;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading a {
  background: none;
  border: none;
  text-decoration: underline;
}

.filter_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter_list > div {
  background: var(--primary);
  color: white;
  font-size: 0.8rem;
  padding: 4px 5px;
  border-radius: 4px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.filter_list div svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
