.share_container {
  position: relative;
}

.share_main_model {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.202);
}

.share_modal {
  /* border: 1px solid rgb(84, 82, 82); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: relative;
  top: 20vh;
  left: 78vw;
  width: 12vw;
  background-color: var(--neutral);
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.share_modal > div {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
