.bottom_nav_main {
  display: none;
}

@media (max-width: 700px) {
  .bottom_nav_main {
    width: 100%;
    display: grid;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    background-color: white;
    z-index: 1000;
  }

  .icons_fixed {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .icons_fixed svg {
    height: 24px;
    width: 24px;
    /* fill: var(--primary); */
    fill: rgb(173, 173, 173);
  }
  .selected svg {
    fill: var(--primary);
  }

  .search_icon {
  }

  .search_icon path {
    fill: rgb(173, 173, 173);
  }

  .icons_fixed > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
  }
  .icons_fixed p {
    font-size: 0.8rem;
  }
  .cart {
    position: relative;
  }

  .bubble {
    position: absolute;
    background: var(--primary);
    height: 15px;
    width: 15px;
    border-radius: 100%;
    font-size: 0.59rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral);
    right: 0;
    top: 3px;
    transform: translate(30%, -30%);
  }
}
